* {
	font-family: Poppins, sans-serif;
}

.row {
	margin-left: 50px;
	margin-right: 50px;
}

.header-container {
    background-color: black;
    padding-top: 1px;
    margin-top: -1px;
   	height: 80px;
}

.footer-container {
	background-color: #272727;
    padding-top: 1px;
    margin-top: -1px;
   	height: 80px;
}


header, footer {
	background-color: #f3b036;
	margin-top: 21px;
	color: white;
}

.laughbox {
	padding-top: 10px;
}

.laughbox a {
    text-decoration: none;
    color: white;
}

.laughbox a:hover {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.summary-container {
	background: url('../images/friends.jpg') no-repeat center center fixed;
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
	height: 500px;
	color: black;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}

.share-laughs p {
	padding-top: 40px;
}

p.p-slogan {
    margin-bottom: 178px;
    text-align: left;
}


span.slogan {
    background-color: rgba(255, 165, 0, 0.71);
    display: inline-block;
    float: right;
    padding: 8px;
}


p.p-sub-slogan {
    text-align: right;
}

.joke-container {
	margin-top: 30px;
	margin-bottom: 30px;
}

.joke-container ul a {
	color: #676767;
}


.add-joke-btn-container {
    margin-bottom: 10px;
}


.btn-primary {
	color: white;
	background-color: #272727;
	border-color: rgba(2, 117, 216, 0);
}

img.github {
    border-radius: 17px;
}

footer p {
    display: inline-block;
    margin-right: 10px;
}

p.built-by {
    margin-top: 15px;
}




@media only screen and (max-width: 460px) {
    p.p-sub-slogan, p.p-slogan {
		text-align: center;
		font-size: 29px;
	}

}