* {
	font-family: Poppins, sans-serif;
}

.header-container {
    background-color: black;
    padding-top: 1px;
    margin-top: -1px;
   	height: 80px;
}


header {
	background-color: #ED4984;
	margin-top: 21px;
}

header h3 {
	color: white;
}

.summary-container {
	background-image: url('friends.jpg');
	height: 500px;
	background-size: 100%;
	background-repeat: no-repeat;
	color: black;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}

.share-laughs {
	padding-top: 66px;
}