/** {
	font-family: 'Poppins', sans-serif;
}*/

.row {
	margin-left: 50px;
	margin-right: 50px;
}

.header-container {
    background-color: black;
    padding-top: 1px;
    margin-top: -1px;
   	height: 80px;
}

.footer-container {
	background-color: #272727;
    padding-top: 1px;
    margin-top: -1px;
   	height: 80px;
}


header, footer {
	background-color: #ED4984;
	margin-top: 21px;
	color: white;
}


.summary-container {
	background: url('./friends.jpg') no-repeat center center fixed;
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
	height: 500px;
	color: black;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}

.share-laughs p {
	padding-top: 40px;
}


.joke-container {
	margin-top: 30px;
	margin-bottom: 30px;
}
